
.container
{
    width: 30vw;
    height: 70vh;
    position: absolute;
    top: 10vh;
    left: 35vw;
}

@media (max-width: 550px) {
    .container 
    {
        width: 80vw;
        height: 70vh;
    }
  }

.container:hover > .card 
{
    cursor: pointer;
    transform: rotateY(180deg);
}

.card
{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front,
.back
{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 10px 10px #ff00d080;
    position: absolute;
    backface-visibility: hidden;
}

.front
{
    background-image: url(img/cardfront.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.back
{
    background-color: #0000008f;
    color: white;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 20px;
}