* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas 
{
    display: block;
}

.info 
{
    display: inline-block;
    display: inline;
    vertical-align: top;
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 0 0 10px 0;
    background-color : rgba(255, 101, 186, 0.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}