* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas 
{
    display: block;
}

.info 
{
    display: inline-block;
    display: inline;
    vertical-align: top;
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 0 0 10px 0;
    background-color : rgba(255, 101, 186, 0.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tooltip 
{
    display: inline-block;
    text-decoration:none;
    position:relative;
}
   
.tooltip span 
{
    display: none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background:white; 
}
   
.tooltip span img 
{
    float:left;
    margin:0px 8px 8px 0;
}
   
.tooltip:hover span 
{
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:auto;
    /* max-width:320px;
    min-height:128px; */
    border:1px solid black;
    margin-top:12px;
    margin-left:32px;
    overflow:hidden;
    padding:8px;
}